<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">{{ 'PORTIFOLIO.MENU.SOBRE_MIM' | translate }}</h1>
        <p class="apresentacao__conteudo__paragrafo"> Olá, sou Girlando, trabalho com desenvolvimento web com formação pelo Senai em técnico em redes de computadores, tenho uma paixão por tecnologia e recentemente descobri minhas habilidades em desenvolver software web. Convido você a explorar meu portfólio, onde compartilho uma seleção dos projetos em que tive a oportunidade de trabalhar. Eles representam meu compromisso com a excelência e minha paixão pelo mundo da tecnologia.
        </p>
    </section>
    <img class="photo" src="../../../assets/img/img.girlando.jpg">
</main>
