.titulo-destaque {
    color: var(--cor-terciaria);
    font-weight: 400;

}

.apresentacao {
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
    
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-family: 'krona one', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 56px;

}

.apresentacao__conteudo__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 36px;

}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-family: 'krona one', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

}

.botao__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.botao__link:hover {
    background-color: #272727;

}

.photo {
    width: 45%;
    margin-bottom: 510px;
    border-radius: 32px;
    
}


@media (max-width: 1200px) {
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;

    }

    .apresentacao__conteudo {
        width: 100%;
        
    }

    .botao__link {
        width: 250px;

    }

    .photo {
        margin-bottom: auto;
        width: 90%;
        border-radius: 16px;
        
    }
}
