<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">Eleve seu negócio digital a outro nivel 
        <strong class="titulo-destaque">com um front-end de qualidade!</strong>
        </h1>
        <p class="apresentacao__conteudo__paragrafo">Olá, sou Girlando Junior, desenvolvedor front-end com especialidade em <strong>Angular, Html, Css e Javascript</strong>. Sou estagiário na empresa Inforplus na parte de desenvolvimento web. </p>
        <div class="apresentacao__links">
            <h2 class="apresentacao__links__subtitulo">Acesse minhas redes:</h2>
            <a class="botao__link" href="https://Github.com" target="_blank">
                <img src="../../../assets/img/Logo Github.png" alt="github imagem">
                Github               
            </a>
            <a class="botao__link" href="https://linkedin.com" target="_blank">
                <img src="../../../assets/img/Logo linkedin.png" target="_blank">
                Linkedin
            </a>
            <a class="botao__link" href="https://instagram.com" target="_blank">
                 <img src="../../../assets/img/logo instagram.png" target="_blank">
                 Instagram
            </a>
        </div>        
    </section>
    <img class="photo" src="../../../assets/img/img.girlando.jpg" alt="foto de perfil">
</main>
