.example-spacer {
  flex: 1 1 auto;
  
}

.mat-toolbar {
  background-color: var(--cor-terciaria);

}

.mat-drawer-container {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);

}

.mat-drawer {
  
  
  border-radius: 6px;
  background-color: var(--cor-primaria);
  border: 1px solid var(--cor-terciaria);
  color: var(--cor-secundaria);
  
}

a:-webkit-any-link {
  color: var(--cor-secundaria);

}

.mat-list-base .mat-list-item {
  color: var(--cor-secundaria);

}

.mat-toolbar.mat-primary {
  color: var(--cor-primaria);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 65px;

}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}


.menu__right:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.menu__drawer:hover {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);

}


.mat-menu-item {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;


}

.mat-menu-item:hover {
  background: var(--cor-terciaria);
  color: var(--cor-primaria);
}



@media (max-width: 800px) {
  .menu__right {
    display: none;
  }

  .mat-drawer {
    bottom: 50%;
  }


  
}


